<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.saucedemo.TestClass.TC02Logoutfunctionality"/>
      <class name="com.saucedemo.TestClass.TC01Loginfuntionality"/>
      <class name="com.saucedemo.TestClass.TC03Homepagefuntionality"/>
      <class name="com.saucedemo.TestClass.TC04Addtocartfuntionality"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
